@media (max-width:576px){
    .navLinks{
        flex-direction: column;
        position: absolute;
        top: 88px;
        background-color:rgb(12, 12, 12);
        height: 40%;
        width: 100%;
        display: none;
    }
    .navLinks li{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 16%;
        width: 100%;
        background-color: var(--main-color);
    }
    #check:checked~.navLinks{
        display: flex;
    }
    .navLinks li:hover{
        background-color: white;
    }
    .cardContainer1{
        padding: 0 10px;
    }
    .checkbtn{
        display: block;
    }
    .heroSection .content{
        padding:20px 10px 30px 19px ;
        font-size: 14px;
    }
    .heroSection .content h2{
        font-size: 30px;
    }
    .heroSection1 .content1 {
        padding: 1px 0px 0px 10px;
    }
    .heroSection1 .content1 h3{
        font-size: 25px;
    }
    .heroSection1 .content1 p{
        font-size: 14px;
    }
    .heroImg img{
        height: 450px;
        display: flex;
    }
    .heroSection1{
        display: block;
    }
    .ContactImg img{
        height: 200px;
    }
    .formbox{
        padding: 10px 30px 10px 30px;
    }
    input[type="text"],input[type="number"],input[type="Guests"]{
        width: 170px;
        padding: 0;
        font-size: 14px;
        padding: 0px;
        margin-bottom: 5px;
        border: 2px solid black;

    }
    input[type="submit"]{
        padding: 0;
        margin-left: 0;
        border: none;
        font-size: 14px;
        color: white;
        margin-left: 0px;
        margin-top: 0px;
    }
    .formbox p{
        font-size: 20px;
    }
}